<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zbsjk.model.dao.EquipmentInfoMapper">
  <resultMap id="BaseResultMap" type="com.zbsjk.model.entity.EquipmentInfo">
    <id column="equipment_number" jdbcType="VARCHAR" property="equipmentNumber" />
    <result column="register_number" jdbcType="VARCHAR" property="registerNumber" />
    <result column="register_company" jdbcType="VARCHAR" property="registerCompany" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_id_card" jdbcType="VARCHAR" property="userIdCard" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="credit_code" jdbcType="VARCHAR" property="creditCode" />
    <result column="user_address" jdbcType="VARCHAR" property="userAddress" />
    <result column="user_phone" jdbcType="VARCHAR" property="userPhone" />
    <result column="equipment_province" jdbcType="VARCHAR" property="equipmentProvince" />
    <result column="equipment_city" jdbcType="VARCHAR" property="equipmentCity" />
    <result column="equipment_area" jdbcType="VARCHAR" property="equipmentArea" />
    <result column="equipment_brand" jdbcType="VARCHAR" property="equipmentBrand" />
    <result column="equipment_type" jdbcType="VARCHAR" property="equipmentType" />
    <result column="equipment_model" jdbcType="VARCHAR" property="equipmentModel" />
    <result column="machine_number" jdbcType="VARCHAR" property="machineNumber" />
    <result column="engine_number" jdbcType="VARCHAR" property="engineNumber" />
    <result column="engine_power" jdbcType="VARCHAR" property="enginePower" />
    <result column="bucket_capacity" jdbcType="VARCHAR" property="bucketCapacity" />
    <result column="machine_quality" jdbcType="VARCHAR" property="machineQuality" />
    <result column="equipment_tyre" jdbcType="VARCHAR" property="equipmentTyre" />
    <result column="equipment_track" jdbcType="VARCHAR" property="equipmentTrack" />
    <result column="insurance_agency" jdbcType="VARCHAR" property="insuranceAgency" />
    <result column="insurance_insurance" jdbcType="VARCHAR" property="insuranceInsurance" />
    <result column="equipment_long" jdbcType="VARCHAR" property="equipmentLong" />
    <result column="equipment_wide" jdbcType="VARCHAR" property="equipmentWide" />
    <result column="equipment_hight" jdbcType="VARCHAR" property="equipmentHight" />
    <result column="purchase_method" jdbcType="VARCHAR" property="purchaseMethod" />
    <result column="fuel_variety" jdbcType="VARCHAR" property="fuelVariety" />
    <result column="fuel_source" jdbcType="VARCHAR" property="fuelSource" />
    <result column="equipment_contaminants" jdbcType="VARCHAR" property="equipmentContaminants" />
    <result column="noise_detection" jdbcType="VARCHAR" property="noiseDetection" />
    <result column="discharge_stage" jdbcType="VARCHAR" property="dischargeStage" />
    <result column="exhaust_emission" jdbcType="VARCHAR" property="exhaustEmission" />
    <result column="purchase_time" jdbcType="TIMESTAMP" property="purchaseTime" />
    <result column="qr_code" jdbcType="VARCHAR" property="qrCode" />
    <result column="audit_status" jdbcType="TINYINT" property="auditStatus" />
    <result column="audit_auditor" jdbcType="INTEGER" property="auditAuditor" />
    <result column="audit_time" jdbcType="TIMESTAMP" property="auditTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="rescue_status" jdbcType="TINYINT" property="rescueStatus" />
    <result column="qr_code_path" jdbcType="VARCHAR" property="qrCodePath" />
    <result column="pay_status" jdbcType="TINYINT" property="payStatus" />
    <result column="equipment_id" jdbcType="INTEGER" property="equipmentId" />
    <result column="fuel_consumption" jdbcType="VARCHAR" property="fuelConsumption" />
    <result column="create_user" jdbcType="INTEGER" property="createUser" />
  	<result column="equipment_pic" jdbcType="VARCHAR" property="equipmentPic" />
  	<result column="bill_pic" jdbcType="VARCHAR" property="billPic" />
  </resultMap>
  <sql id="Base_Column_List">
    equipment_pic,bill_pic,equipment_number, register_number, register_company, user_name, user_id_card, company_name, 
    credit_code, user_address, user_phone, equipment_province, equipment_city, equipment_area, 
    equipment_brand, equipment_type, equipment_model, machine_number, engine_number, 
    engine_power, bucket_capacity, machine_quality, equipment_tyre, equipment_track, 
    insurance_agency, insurance_insurance, equipment_long, equipment_wide, equipment_hight, 
    purchase_method, fuel_variety, fuel_source, equipment_contaminants, noise_detection, 
    discharge_stage, exhaust_emission, purchase_time, qr_code, audit_status, audit_auditor, 
    audit_time, create_time, rescue_status,qr_code_path,pay_status,equipment_id,fuel_consumption,create_user
  </sql>
  <sql id="query_items_where">
	<if test="userName!=null"> AND user_name LIKE CONCAT('%',#{userName},'%')</if>
	<if test="equipmentNumber!=null"> AND equipment_number=#{equipmentNumber}</if>
	<if test="auditStatus!=null"> AND audit_status=#{auditStatus}</if>
  	<if test="equipmentCity !=null"> AND equipment_city=#{equipmentCity}</if>
  	<if test="equipmentArea !=null"> AND equipment_area=#{equipmentArea}</if>
  	<if test="equipmentType !=null"> AND equipment_type=#{equipmentType}</if>
  	<if test="insuranceAgency !=null"> AND insurance_agency LIKE CONCAT('%',#{insuranceAgency},'%')</if>
  	<if test="startTime !=null"> AND create_time &gt;=#{startTime}</if>
  	<if test="endTime !=null"> AND create_time &lt;=#{endTime}</if>
  	<if test="noiseDetection !=null"> AND noise_detection =#{noiseDetection}</if>
  	<if test="rescueStatus !=null"> AND rescue_status =#{rescueStatus}</if>
  	<if test="userNameNoLike !=null"> AND user_name =#{userNameNoLike}</if>
  	
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from equipment_info
    where equipment_id = #{equipmentId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from equipment_info
    where equipment_id = #{equipmentId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zbsjk.model.entity.EquipmentInfo">
    insert into equipment_info (equipment_number, register_number, 
      register_company, user_name, user_id_card, 
      company_name, credit_code, user_address, 
      user_phone, equipment_province, equipment_city, 
      equipment_area, equipment_brand, equipment_type, 
      equipment_model, machine_number, engine_number, 
      engine_power, bucket_capacity, machine_quality, 
      equipment_tyre, equipment_track, insurance_agency, 
      insurance_insurance, equipment_long, equipment_wide, 
      equipment_hight, purchase_method, fuel_variety, 
      fuel_source, equipment_contaminants, noise_detection, 
      discharge_stage, exhaust_emission, purchase_time, 
      qr_code, audit_status, audit_auditor, 
      audit_time, create_time, rescue_status,qr_code_path,pay_status,fuel_consumption
      ,create_user,equipment_pic,bill_pic)
    values (#{equipmentNumber,jdbcType=VARCHAR}, #{registerNumber,jdbcType=VARCHAR}, 
      #{registerCompany,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{userIdCard,jdbcType=VARCHAR}, 
      #{companyName,jdbcType=VARCHAR}, #{creditCode,jdbcType=VARCHAR}, #{userAddress,jdbcType=VARCHAR}, 
      #{userPhone,jdbcType=VARCHAR}, #{equipmentProvince,jdbcType=VARCHAR}, #{equipmentCity,jdbcType=VARCHAR}, 
      #{equipmentArea,jdbcType=VARCHAR}, #{equipmentBrand,jdbcType=VARCHAR}, #{equipmentType,jdbcType=VARCHAR}, 
      #{equipmentModel,jdbcType=VARCHAR}, #{machineNumber,jdbcType=VARCHAR}, #{engineNumber,jdbcType=VARCHAR}, 
      #{enginePower,jdbcType=VARCHAR}, #{bucketCapacity,jdbcType=VARCHAR}, #{machineQuality,jdbcType=VARCHAR}, 
      #{equipmentTyre,jdbcType=VARCHAR}, #{equipmentTrack,jdbcType=VARCHAR}, #{insuranceAgency,jdbcType=VARCHAR}, 
      #{insuranceInsurance,jdbcType=VARCHAR}, #{equipmentLong,jdbcType=VARCHAR}, #{equipmentWide,jdbcType=VARCHAR}, 
      #{equipmentHight,jdbcType=VARCHAR}, #{purchaseMethod,jdbcType=VARCHAR}, #{fuelVariety,jdbcType=VARCHAR}, 
      #{fuelSource,jdbcType=VARCHAR}, #{equipmentContaminants,jdbcType=VARCHAR}, #{noiseDetection,jdbcType=VARCHAR}, 
      #{dischargeStage,jdbcType=VARCHAR}, #{exhaustEmission,jdbcType=VARCHAR}, #{purchaseTime,jdbcType=TIMESTAMP}, 
      #{qrCode,jdbcType=VARCHAR}, #{auditStatus,jdbcType=TINYINT}, #{auditAuditor,jdbcType=INTEGER}, 
      #{auditTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{rescueStatus,jdbcType=TINYINT},#{qrCodePath,jdbcType=VARCHAR}
      #{payStatus,jdbcType=TINYINT}), #{fuelConsumption,jdbcType=VARCHAR}, #{createUser,jdbcType=INTEGER}, #{equipmentPic,jdbcType=VARCHAR}, #{billPic,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zbsjk.model.entity.EquipmentInfo">
    insert into equipment_info
    <selectKey keyProperty="equipmentId" resultType="int">  
            select LAST_INSERT_ID()  
        </selectKey>  
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="equipmentNumber != null">
        equipment_number,
      </if>
      <if test="registerNumber != null">
        register_number,
      </if>
      <if test="registerCompany != null">
        register_company,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="userIdCard != null">
        user_id_card,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
      <if test="creditCode != null">
        credit_code,
      </if>
      <if test="userAddress != null">
        user_address,
      </if>
      <if test="userPhone != null">
        user_phone,
      </if>
      <if test="equipmentProvince != null">
        equipment_province,
      </if>
      <if test="equipmentCity != null">
        equipment_city,
      </if>
      <if test="equipmentArea != null">
        equipment_area,
      </if>
      <if test="equipmentBrand != null">
        equipment_brand,
      </if>
      <if test="equipmentType != null">
        equipment_type,
      </if>
      <if test="equipmentModel != null">
        equipment_model,
      </if>
      <if test="machineNumber != null">
        machine_number,
      </if>
      <if test="engineNumber != null">
        engine_number,
      </if>
      <if test="enginePower != null">
        engine_power,
      </if>
      <if test="bucketCapacity != null">
        bucket_capacity,
      </if>
      <if test="machineQuality != null">
        machine_quality,
      </if>
      <if test="equipmentTyre != null">
        equipment_tyre,
      </if>
      <if test="equipmentTrack != null">
        equipment_track,
      </if>
      <if test="insuranceAgency != null">
        insurance_agency,
      </if>
      <if test="insuranceInsurance != null">
        insurance_insurance,
      </if>
      <if test="equipmentLong != null">
        equipment_long,
      </if>
      <if test="equipmentWide != null">
        equipment_wide,
      </if>
      <if test="equipmentHight != null">
        equipment_hight,
      </if>
      <if test="purchaseMethod != null">
        purchase_method,
      </if>
      <if test="fuelVariety != null">
        fuel_variety,
      </if>
      <if test="fuelSource != null">
        fuel_source,
      </if>
      <if test="equipmentContaminants != null">
        equipment_contaminants,
      </if>
      <if test="noiseDetection != null">
        noise_detection,
      </if>
      <if test="dischargeStage != null">
        discharge_stage,
      </if>
      <if test="exhaustEmission != null">
        exhaust_emission,
      </if>
      <if test="purchaseTime != null">
        purchase_time,
      </if>
      <if test="qrCode != null">
        qr_code,
      </if>
      <if test="auditStatus != null">
        audit_status,
      </if>
      <if test="auditAuditor != null">
        audit_auditor,
      </if>
      <if test="auditTime != null">
        audit_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="rescueStatus != null">
        rescue_status,
      </if>
       <if test="qrCodePath != null">
        qr_code_path,
      </if>
       <if test="payStatus != null">
        pay_status,
      </if>
      <if test="fuelConsumption != null">
        fuel_consumption,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="equipmentPic != null">
        equipment_pic,
      </if>
      <if test="billPic != null">
        bill_pic,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="equipmentNumber != null">
        #{equipmentNumber,jdbcType=VARCHAR},
      </if>
      <if test="registerNumber != null">
        #{registerNumber,jdbcType=VARCHAR},
      </if>
      <if test="registerCompany != null">
        #{registerCompany,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userIdCard != null">
        #{userIdCard,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="creditCode != null">
        #{creditCode,jdbcType=VARCHAR},
      </if>
      <if test="userAddress != null">
        #{userAddress,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null">
        #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="equipmentProvince != null">
        #{equipmentProvince,jdbcType=VARCHAR},
      </if>
      <if test="equipmentCity != null">
        #{equipmentCity,jdbcType=VARCHAR},
      </if>
      <if test="equipmentArea != null">
        #{equipmentArea,jdbcType=VARCHAR},
      </if>
      <if test="equipmentBrand != null">
        #{equipmentBrand,jdbcType=VARCHAR},
      </if>
      <if test="equipmentType != null">
        #{equipmentType,jdbcType=VARCHAR},
      </if>
      <if test="equipmentModel != null">
        #{equipmentModel,jdbcType=VARCHAR},
      </if>
      <if test="machineNumber != null">
        #{machineNumber,jdbcType=VARCHAR},
      </if>
      <if test="engineNumber != null">
        #{engineNumber,jdbcType=VARCHAR},
      </if>
      <if test="enginePower != null">
        #{enginePower,jdbcType=VARCHAR},
      </if>
      <if test="bucketCapacity != null">
        #{bucketCapacity,jdbcType=VARCHAR},
      </if>
      <if test="machineQuality != null">
        #{machineQuality,jdbcType=VARCHAR},
      </if>
      <if test="equipmentTyre != null">
        #{equipmentTyre,jdbcType=VARCHAR},
      </if>
      <if test="equipmentTrack != null">
        #{equipmentTrack,jdbcType=VARCHAR},
      </if>
      <if test="insuranceAgency != null">
        #{insuranceAgency,jdbcType=VARCHAR},
      </if>
      <if test="insuranceInsurance != null">
        #{insuranceInsurance,jdbcType=VARCHAR},
      </if>
      <if test="equipmentLong != null">
        #{equipmentLong,jdbcType=VARCHAR},
      </if>
      <if test="equipmentWide != null">
        #{equipmentWide,jdbcType=VARCHAR},
      </if>
      <if test="equipmentHight != null">
        #{equipmentHight,jdbcType=VARCHAR},
      </if>
      <if test="purchaseMethod != null">
        #{purchaseMethod,jdbcType=VARCHAR},
      </if>
      <if test="fuelVariety != null">
        #{fuelVariety,jdbcType=VARCHAR},
      </if>
      <if test="fuelSource != null">
        #{fuelSource,jdbcType=VARCHAR},
      </if>
      <if test="equipmentContaminants != null">
        #{equipmentContaminants,jdbcType=VARCHAR},
      </if>
      <if test="noiseDetection != null">
        #{noiseDetection,jdbcType=VARCHAR},
      </if>
      <if test="dischargeStage != null">
        #{dischargeStage,jdbcType=VARCHAR},
      </if>
      <if test="exhaustEmission != null">
        #{exhaustEmission,jdbcType=VARCHAR},
      </if>
      <if test="purchaseTime != null">
        #{purchaseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="qrCode != null">
        #{qrCode,jdbcType=VARCHAR},
      </if>
      <if test="auditStatus != null">
        #{auditStatus,jdbcType=TINYINT},
      </if>
      <if test="auditAuditor != null">
        #{auditAuditor,jdbcType=INTEGER},
      </if>
      <if test="auditTime != null">
        #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rescueStatus != null">
        #{rescueStatus,jdbcType=TINYINT},
      </if>
       <if test="qrCodePath != null">
        #{qrCodePath,jdbcType=VARCHAR},
      </if>
      <if test="payStatus != null">
        #{payStatus,jdbcType=TINYINT},
      </if>
      <if test="fuelConsumption != null">
        #{fuelConsumption,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=INTEGER},
      </if>
       <if test="equipmentPic != null">
        #{equipmentPic,jdbcType=VARCHAR},
      </if>
       <if test="billPic != null">
        #{billPic,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zbsjk.model.entity.EquipmentInfo">
    update equipment_info
    <set>
      <if test="registerNumber != null">
        register_number = #{registerNumber,jdbcType=VARCHAR},
      </if>
      <if test="registerCompany != null">
        register_company = #{registerCompany,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userIdCard != null">
        user_id_card = #{userIdCard,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="creditCode != null">
        credit_code = #{creditCode,jdbcType=VARCHAR},
      </if>
      <if test="userAddress != null">
        user_address = #{userAddress,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null">
        user_phone = #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="equipmentProvince != null">
        equipment_province = #{equipmentProvince,jdbcType=VARCHAR},
      </if>
      <if test="equipmentCity != null">
        equipment_city = #{equipmentCity,jdbcType=VARCHAR},
      </if>
      <if test="equipmentArea != null">
        equipment_area = #{equipmentArea,jdbcType=VARCHAR},
      </if>
      <if test="equipmentBrand != null">
        equipment_brand = #{equipmentBrand,jdbcType=VARCHAR},
      </if>
      <if test="equipmentType != null">
        equipment_type = #{equipmentType,jdbcType=VARCHAR},
      </if>
      <if test="equipmentModel != null">
        equipment_model = #{equipmentModel,jdbcType=VARCHAR},
      </if>
      <if test="machineNumber != null">
        machine_number = #{machineNumber,jdbcType=VARCHAR},
      </if>
      <if test="engineNumber != null">
        engine_number = #{engineNumber,jdbcType=VARCHAR},
      </if>
      <if test="enginePower != null">
        engine_power = #{enginePower,jdbcType=VARCHAR},
      </if>
      <if test="bucketCapacity != null">
        bucket_capacity = #{bucketCapacity,jdbcType=VARCHAR},
      </if>
      <if test="machineQuality != null">
        machine_quality = #{machineQuality,jdbcType=VARCHAR},
      </if>
      <if test="equipmentTyre != null">
        equipment_tyre = #{equipmentTyre,jdbcType=VARCHAR},
      </if>
      <if test="equipmentTrack != null">
        equipment_track = #{equipmentTrack,jdbcType=VARCHAR},
      </if>
      <if test="insuranceAgency != null">
        insurance_agency = #{insuranceAgency,jdbcType=VARCHAR},
      </if>
      <if test="insuranceInsurance != null">
        insurance_insurance = #{insuranceInsurance,jdbcType=VARCHAR},
      </if>
      <if test="equipmentLong != null">
        equipment_long = #{equipmentLong,jdbcType=VARCHAR},
      </if>
      <if test="equipmentWide != null">
        equipment_wide = #{equipmentWide,jdbcType=VARCHAR},
      </if>
      <if test="equipmentHight != null">
        equipment_hight = #{equipmentHight,jdbcType=VARCHAR},
      </if>
      <if test="purchaseMethod != null">
        purchase_method = #{purchaseMethod,jdbcType=VARCHAR},
      </if>
      <if test="fuelVariety != null">
        fuel_variety = #{fuelVariety,jdbcType=VARCHAR},
      </if>
      <if test="fuelSource != null">
        fuel_source = #{fuelSource,jdbcType=VARCHAR},
      </if>
      <if test="equipmentContaminants != null">
        equipment_contaminants = #{equipmentContaminants,jdbcType=VARCHAR},
      </if>
      <if test="noiseDetection != null">
        noise_detection = #{noiseDetection,jdbcType=VARCHAR},
      </if>
      <if test="dischargeStage != null">
        discharge_stage = #{dischargeStage,jdbcType=VARCHAR},
      </if>
      <if test="exhaustEmission != null">
        exhaust_emission = #{exhaustEmission,jdbcType=VARCHAR},
      </if>
      <if test="purchaseTime != null">
        purchase_time = #{purchaseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="qrCode != null">
        qr_code = #{qrCode,jdbcType=VARCHAR},
      </if>
      <if test="auditStatus != null">
        audit_status = #{auditStatus,jdbcType=TINYINT},
      </if>
      <if test="auditAuditor != null">
        audit_auditor = #{auditAuditor,jdbcType=INTEGER},
      </if>
      <if test="auditTime != null">
        audit_time = #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rescueStatus != null">
        rescue_status = #{rescueStatus,jdbcType=TINYINT},
      </if>
       <if test="qrCodePath != null">
        qr_code_path = #{qrCodePath,jdbcType=TINYINT},
      </if>
      <if test="payStatus != null">
        pay_status = #{payStatus,jdbcType=TINYINT},
      </if>
      <if test="fuelConsumption != null">
        fuel_consumption = #{fuelConsumption,jdbcType=VARCHAR},
      </if>
      <if test="equipmentPic != null">
        equipment_pic = #{equipmentPic,jdbcType=VARCHAR},
      </if>
      <if test="billPic != null">
        bill_pic = #{billPic,jdbcType=VARCHAR},
      </if>
    </set>
    where equipment_id = #{equipmentId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zbsjk.model.entity.EquipmentInfo">
    update equipment_info
    set register_number = #{registerNumber,jdbcType=VARCHAR},
      register_company = #{registerCompany,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      user_id_card = #{userIdCard,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      credit_code = #{creditCode,jdbcType=VARCHAR},
      user_address = #{userAddress,jdbcType=VARCHAR},
      user_phone = #{userPhone,jdbcType=VARCHAR},
      equipment_province = #{equipmentProvince,jdbcType=VARCHAR},
      equipment_city = #{equipmentCity,jdbcType=VARCHAR},
      equipment_area = #{equipmentArea,jdbcType=VARCHAR},
      equipment_brand = #{equipmentBrand,jdbcType=VARCHAR},
      equipment_type = #{equipmentType,jdbcType=VARCHAR},
      equipment_model = #{equipmentModel,jdbcType=VARCHAR},
      machine_number = #{machineNumber,jdbcType=VARCHAR},
      engine_number = #{engineNumber,jdbcType=VARCHAR},
      engine_power = #{enginePower,jdbcType=VARCHAR},
      bucket_capacity = #{bucketCapacity,jdbcType=VARCHAR},
      machine_quality = #{machineQuality,jdbcType=VARCHAR},
      equipment_tyre = #{equipmentTyre,jdbcType=VARCHAR},
      equipment_track = #{equipmentTrack,jdbcType=VARCHAR},
      insurance_agency = #{insuranceAgency,jdbcType=VARCHAR},
      insurance_insurance = #{insuranceInsurance,jdbcType=VARCHAR},
      equipment_long = #{equipmentLong,jdbcType=VARCHAR},
      equipment_wide = #{equipmentWide,jdbcType=VARCHAR},
      equipment_hight = #{equipmentHight,jdbcType=VARCHAR},
      purchase_method = #{purchaseMethod,jdbcType=VARCHAR},
      fuel_variety = #{fuelVariety,jdbcType=VARCHAR},
      fuel_source = #{fuelSource,jdbcType=VARCHAR},
      equipment_contaminants = #{equipmentContaminants,jdbcType=VARCHAR},
      noise_detection = #{noiseDetection,jdbcType=VARCHAR},
      discharge_stage = #{dischargeStage,jdbcType=VARCHAR},
      exhaust_emission = #{exhaustEmission,jdbcType=VARCHAR},
      purchase_time = #{purchaseTime,jdbcType=TIMESTAMP},
      qr_code = #{qrCode,jdbcType=VARCHAR},
      audit_status = #{auditStatus,jdbcType=TINYINT},
      audit_auditor = #{auditAuditor,jdbcType=INTEGER},
      audit_time = #{auditTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      rescue_status = #{rescueStatus,jdbcType=TINYINT},
      qr_code_path = #{qrCodePath,jdbcType=VARCHAR},
      pay_status = #{payStatus,jdbcType=TINYINT},
      fuel_consumption = #{fuelConsumption,jdbcType=VARCHAR}
    where equipment_id = #{equipmentId,jdbcType=INTEGER}
  </update>
  
<select id="queryByProperties" resultMap="BaseResultMap" parameterType="map">
	select * from equipment_info
	<where>
		<include refid="query_items_where"></include>
	</where>
</select>

<select id="checkEquipmentInfo" resultType="int" parameterType="map">
	select count(0) from equipment_info
	<where>
		<if test="equipmentNumber!=null"> OR equipment_number=#{equipmentNumber}</if>
		<if test="registerNumber !=null"> OR register_number=#{registerNumber}</if>
	</where>
</select>

<insert id="insertBackInfo" parameterType="java.lang.Integer">
	insert into equipment_info_delete_info (<include refid="Base_Column_List"></include>,operation_user,operation_time)  select <include refid="Base_Column_List"></include>,#{operationUser,jdbcType=INTEGER},now() from equipment_info where equipment_id = #{equipmentId,jdbcType=INTEGER}
</insert>
</mapper>