<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zbsjk.model.dao.UserInfoMapper">
  <resultMap id="BaseResultMap" type="com.zbsjk.model.entity.UserInfo">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_sex" jdbcType="VARCHAR" property="userSex" />
    <result column="user_phone" jdbcType="VARCHAR" property="userPhone" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="user_province" jdbcType="VARCHAR" property="userProvince" />
    <result column="user_city" jdbcType="VARCHAR" property="userCity" />
    <result column="user_area" jdbcType="VARCHAR" property="userArea" />
    <result column="user_pwd" jdbcType="VARCHAR" property="userPwd" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, user_name, user_sex, user_phone, role_id, user_province, user_city, user_area, 
     create_time
  </sql>
  <sql id="query_items_where">
  	<if test="userCity!=null"> AND user_city=#{userCity}</if>
	<if test="userArea!=null"> AND user_area=#{userArea}</if>
	<if test="userName!=null"> AND user_name LIKE CONCAT('%',#{userName},'%')</if>
	<if test="userPhone!=null"> AND user_phone LIKE CONCAT('%',#{userPhone},'%')</if>
	<if test="userPwd!=null"> AND user_pwd=#{userPwd}</if>
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_info
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_info
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zbsjk.model.entity.UserInfo">
    insert into user_info (user_id, user_name, user_sex, 
      user_phone, role_id, user_province, 
      user_city, user_area, user_pwd, 
      create_time)
    values (#{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{userSex,jdbcType=VARCHAR}, 
      #{userPhone,jdbcType=VARCHAR}, #{roleId,jdbcType=INTEGER}, #{userProvince,jdbcType=VARCHAR}, 
      #{userCity,jdbcType=VARCHAR}, #{userArea,jdbcType=VARCHAR}, #{userPwd,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zbsjk.model.entity.UserInfo">
     <selectKey keyProperty="userId" resultType="int">  
            select LAST_INSERT_ID()  
        </selectKey>  
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userName != null">
        user_name,
      </if>
      <if test="userSex != null">
        user_sex,
      </if>
      <if test="userPhone != null">
        user_phone,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="userProvince != null">
        user_province,
      </if>
      <if test="userCity != null">
        user_city,
      </if>
      <if test="userArea != null">
        user_area,
      </if>
      <if test="userPwd != null">
        user_pwd,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null">
        #{userSex,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null">
        #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="userProvince != null">
        #{userProvince,jdbcType=VARCHAR},
      </if>
      <if test="userCity != null">
        #{userCity,jdbcType=VARCHAR},
      </if>
      <if test="userArea != null">
        #{userArea,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null">
        #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zbsjk.model.entity.UserInfo">
    update user_info
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null">
        user_sex = #{userSex,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null">
        user_phone = #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="userProvince != null">
        user_province = #{userProvince,jdbcType=VARCHAR},
      </if>
      <if test="userCity != null">
        user_city = #{userCity,jdbcType=VARCHAR},
      </if>
      <if test="userArea != null">
        user_area = #{userArea,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null">
        user_pwd = #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zbsjk.model.entity.UserInfo">
    update user_info
    set user_name = #{userName,jdbcType=VARCHAR},
      user_sex = #{userSex,jdbcType=VARCHAR},
      user_phone = #{userPhone,jdbcType=VARCHAR},
      role_id = #{roleId,jdbcType=INTEGER},
      user_province = #{userProvince,jdbcType=VARCHAR},
      user_city = #{userCity,jdbcType=VARCHAR},
      user_area = #{userArea,jdbcType=VARCHAR},
      user_pwd = #{userPwd,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  
  <select id="queryUserList" resultMap="BaseResultMap" parameterType="map">
    select user_id, user_name, user_sex, user_phone, role_id, user_province, user_city, user_area, create_time from user_info
    <where>
         role_id != 1
    	<include refid="query_items_where"></include>
    </where>
  </select>
  
  <insert id="insertBackInfo" parameterType="java.lang.Integer">
  	insert into user_info_delete_info select *,#{operationUser,jdbcType=INTEGER},now() from user_info where user_id = #{userId,jdbcType=INTEGER}
  </insert>
  
  <select id="selUserCount" resultType="java.lang.Integer" parameterType="map">
    select count(1) from user_info
    <where>
    	<include refid="query_items_where"></include>
    </where>
  </select>
  
  <select id="queryUser" resultMap="BaseResultMap" parameterType="map">
    select user_id, user_name, user_sex, user_phone, role_id, user_province, user_city, user_area, create_time from user_info
    <where>
    <if test="userCity!=null"> AND user_city=#{userCity}</if>
	<if test="userArea!=null"> AND user_area=#{userArea}</if>
	<if test="userName!=null"> AND user_name LIKE CONCAT('%',#{userName},'%')</if>
	<if test="userPhone!=null"> AND user_phone = #{userPhone}</if>
	<if test="userPwd!=null"> AND user_pwd=#{userPwd}</if>
    </where>
  </select>
</mapper>